@font-face {
    font-family: apercu;
    src: url(../fonts/ApercuPro-Medium.ttf);
}
@font-face {
    font-family: foturuk;
    src: url(../fonts/futurak.ttf);
}

*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box; 
}

html{
    font-size: 62.5%;
    font-family: apercu;
}

body{
    background-color: var(--black);
    color: var(--white);
    /* margin-bottom: 100px; */
}

:root{
    --black:#000000;
    --white:#ffffff;
    --red:#ed1c24;
    --green:#28a745;
    --gray:#0f0f0f;
    --foturuk:foturuk;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.item-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.gap-1{
    gap: 5px;
}

.gap-2{
    gap: 10px;
}

.gap-3{
    gap: 15px;
}

.gap-4{
    gap: 20px;
}

.gap-5{
    gap: 25px;
}

.m-1{
    margin: 5px;
}

.mx-1{
    margin: 0px 5px;
}

.my-1{
    margin: 10px 0px;
}

.m-l{
    margin-left: 80px;
}

.m-r{
    margin-right: 80px;
}

.m-b{
    margin-bottom: 3rem;
}

.m-t{
    margin-top: 20px;
}
.rounded{
    border-radius: 20px;
}

.text-none{
    text-decoration: none;
    color: var(--white);
}

.pad-t{
    padding-top: 70px;
}

.pad-b{
    padding-bottom: 70px;
}
.flex-column{
    flex-direction: column;
}
.text-black{
    color: #000000;
}

